body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    border: 1px solid #ddd;
    width: 70%;
    padding: 1em;
    margin: 0 auto;
    text-align: left;
}

.container h1{
    font-size: 18px;
}